:root {
  /* fonts */
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  /* colors */
  --accent-color: #2196f3;
  --nav-txt-cl: #212121;
  --btn-hover: #188ce8;
  --white-color: #ffffff;
  --often-color: #757575;
  /* bg-colors */
  --hero-color: #2f303a;
  --icon-bgc: #f5f4fa;
  /* others */
  --anim: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

textarea {
  resize: none;
  width: 100%;
  height: 120px;
}

svg {
  /* fill: #afb1b8; */
}

body {
  font-family: var(--main-font), sans-serif;
  font-size: 14px;
  line-height: 1.67;
  color: var(--often-color);
}

.no-scroll {
  overflow: hidden;
}

/* visualy hidden */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* reset start */
h1,
h2,
h3,
p,
ul {
  margin: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}
/* common styles start */
.link {
  text-decoration: none;
}

img {
  display: block;
  min-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* reset end */
/* common styleas end */
.logo {
  color: var(--accent-color);
  font-size: 26px;
  font-family: var(--secondary-font);
}
.logo-st {
  color: var(--nav-txt-cl);
  font-size: 26px;
}

.studio {
  font-size: 26px;
}

.footer > .logo-st {
  color: var(--white-color);
}

.footer-studio {
  color: var(--white-color);
}
/* Header */
.header-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--nav-txt-cl);
  display: flex;
  align-items: center;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header-list {
  display: flex;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
  transition: var(--anim);
}

.header-link.logo-st {
  padding: 30px, 0;
}

.header-list-item:not(:last-child) {
  margin-right: 50px;
}

.header-list-contact {
  display: flex;
  align-items: center;
}

.header-contact-item,
.header-list-item,
.header-link,
.link,
.contacts-footer-item {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--nav-txt-cl);
}

.header-contact-item:not(:first-child) {
  margin-left: 50px;
}

.header-link {
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  align-items: center;
}

.current-link::after {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 2px;
  background-color: var(--accent-color);
  width: 100%;
  height: 4px;
}

.link.logo-st {
  margin-right: 93px;
}

/* contacts */
.contacts {
  margin-left: auto;
}

.contacts-footer {
  margin-top: 24px;
}

.contacts-footer-item {
  color: var(--white-color);
}

.contacts-footer-item:not(last-child) {
  margin-bottom: 9px;
}

.header-contact-item:hover,
.header-contact-item:focus,
.contacts-footer-item:hover,
.contacts-footer-item:focus {
  color: var(--accent-color);
  transition: var(--anim);
}

.link-cnt:hover svg {
  fill: var(--accent-color);
  transition: var(--anim);
}

/* Header Portfolio */
/* portfolio buttons */
.prt-buttons > .list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

/* main */

.main-name {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.35;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 30px;
}

.main-prt-sect {
  padding-top: 94px;
  padding-bottom: 94px;
}

.main-list-prt {
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  margin: -15px;
}

.main-prt-item {
  box-sizing: border-box;
  background-color: var(--white-color);
  margin: 15px;
  width: calc(100% / 3 -30px);
}

.main-prt-item:hover .prt-overlay {
  transform: translateY(0);
  transition: var(--anim);
}

.main-prt-item:hover,
.main-prt-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: var(--anim);
}

.item-group {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.item-p {
  margin-top: 4px;
}

/* overlay */

.product-thumb {
  position: relative;
  overflow: hidden;
}

.prt-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  transform: translateY(100%);

  backdrop-filter: blur(3px);
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  color: var(--white-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;

  transition: var(--anim);
}

/* hero */

.hero {
  background-color: var(--hero-color);
  display: flex;
  padding: 200px 0;

  max-width: 1600px;
  margin: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4) 45%,
      rgba(47, 48, 58, 0.4) 0%
    ),
    url(../images/\ hero-bg.jpg);
}

.hero-btn {
  display: block;
  font: inherit;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  color: var(--white-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
  height: 50px;
  align-items: flex-start;
  border: none;
  cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
  background: var(--btn-hover);
  transition: var(--anim);
}

.button-prt:not(:last-child) {
  margin-right: 8px;
}
/* about */

.about {
  padding-top: 94px;
}

.about-name {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--nav-txt-cl);
}

.about-txt {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--often-color);
  margin-bottom: 10px;
}

.about-list {
  align-items: center;
}

.about-container-list {
  display: flex;
  margin: -15px;
}

.about-items {
  width: calc(100% / 4 - 30px);
  margin: 15px;
  justify-content: center;
  width: 270;
}

.about-svg {
  display: flex;
  height: 120px;
  justify-content: center;
  align-items: center;
  background-color: var(--icon-bgc);
  margin-bottom: 30px;
  border-radius: 4px;
}

/* what we do */

.what-we-do {
  padding: 94px 0px;
}

.wwd-name {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--nav-txt-cl);
}

.wwd {
  font-size: 36px;
  color: var(--nav-txt-cl);
  font-weight: 700;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.desc {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  color: var(--white-color);
  font-family: var(--main-font);
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  padding: 27px 0;
  background-color: rgba(47, 48, 58, 0.8);
}

.wwd-container {
  display: flex;
}

.wwd-container:not(:last-child) {
  padding-right: 30px;
}

.wwd-items {
  width: 370px;
  height: 294px;
  position: relative;
}

.container-team > .item:not(:last-child) {
  margin-right: 30px;
}
/* Command */
.command {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--nav-txt-cl);
  align-items: center;
  margin-bottom: 50px;
}

.command-list {
  display: flex;
}
.command-item {
  background: var(--white-color);
  /* material shadow v1 */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.command-item:not(:last-child) {
  margin-right: 30px;
}

.section-command {
  padding: 94px 0px;
  background-color: #f5f4fa;
}

/* name */
.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--nav-txt-cl);
  margin-bottom: 10px;
}

.position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--often-color);
  margin-bottom: 16px;
}

.name-position {
  background: var(--white-color);
  /* material shadow v1 */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding: 30px 0px;
}

.prt-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--nav-txt-cl);
  font-family: inherit;
  border: none;
  padding: 6px 22px;
  border-radius: 4px;
}

/* Icon settings */
.icon-list {
  display: flex;
  justify-content: space-evenly;
  padding-left: 0;
  margin: 0;
}

.icon-cnt {
  margin-right: 10px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 44px;
  height: 44px;
  fill: #afb1b8;
}

.social-link:hover {
  align-items: center;
  box-sizing: border-box;
  border-radius: 50%;
  fill: var(--white-color);
  background-color: var(--btn-hover);
  transition: var(--anim);
}
/* Clients section */

.clients {
  padding: 94px 0;
}

.clients-main {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--nav-txt-cl);
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  justify-content: center;
}

.clients-item {
  box-sizing: border-box;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: calc(100% / 6 - 30px);
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clients-item:hover {
  box-sizing: border-box;
  border: 1px solid #2196f3;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  transition: var(--anim);
}

.clients-icon:hover {
  fill: var(--accent-color);
  transition: var(--anim);
}

.clients-item:not(:last-child) {
  margin-right: 30px;
}

.clients-icon {
  fill: #afb1bb;
}

.clients-item:hover .clients-icon,
.clients-item-hover {
  fill: #2196f3;
  justify-content: center;
  align-items: center;
  transition: var(--anim);
}
/* footer */
.footer-container {
  display: block;
}

.button.current {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.prt-btn:hover {
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: var(--white-color);
  transition: var(--anim);
}

.link.current {
  color: var(--accent-color);
}

.item-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--nav-txt-cl);
}

.item-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--often-color);
}

.link-cnt {
  color: var(--often-color);
  padding: 30px 0;
}

.link-cnt:hover,
.link-cnt:focus {
  color: var(--accent-color);
  transition: var(--anim);
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: var(--hero-color);
  padding: 60px 0px;
}

.footer-left {
  display: flex;
  flex-direction: column;
}

.footer-main-list {
  display: flex;
}
/* Follow */

.follow {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
}

.follow-footer-list {
  display: flex;
  justify-content: space-between;
  width: 206px;
  margin-top: 20px;
}

.follow-name {
  text-transform: uppercase;
  color: var(--white-color);
}

.follow-link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #44454e;
  fill: var(--white-color);
  filter: drop-shadow(opx 4px 4px rgba(0, 0, 0, 0.25));
}

.follow-link:hover {
  background-color: var(--accent-color);
  transition: var(--anim);
}

/* subscribes */

.subs {
  margin-left: 93px;
  display: flex;
  flex-direction: column;
}

.sub-name {
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 20px;
}

.sub-input {
  width: 358px;
  height: 50px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--hero-color);

  padding-left: 16px;
  padding-bottom: 15px;
  padding-top: 15px;
}

.sub-list {
  display: flex;
}

.subs-btn {
  position: absolute;
  width: 200px;
  height: 50px;
  display: flex;
  font: inherit;
  text-align: center;
  align-items: flex-start;
  border: none;
  color: var(--white-color);
  fill: var(--white-color);
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-left: 12px;
}

.subs-btn:hover,
.subs-btn:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  transition: var(--anim);
}

.send-icon {
  position: absolute;
  box-sizing: border-box;
  right: 24px;
  top: 13px;
}

.subscribe {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  margin-left: 29px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.sub-in-btn {
  display: flex;
}

/* Modal window */
.modal {
  padding: 40px;
  width: 528px;
  height: 581px;
}

.modal-group {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  padding-right: 10px;
  outline: none;
}

.modal-comment {
  padding: 12px 16px;
}

.modal-group.item:not(:last-child) {
  padding-left: 42px;
  padding-right: 10px;
}

.modal-group:hover,
.modal-group:focus {
  border-color: var(--accent-color);
  transition: var(--anim);
}

.modal-group:focus + svg,
.modal-group:hover + svg {
  /* transition-property: border-color; */
  transition: var(--anim);
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.modal-label {
  display: block;
  position: relative;
}

.label-name {
  font-size: 12px;
}

.modal-label:not(:last-child) {
  margin-bottom: 10px;
}

.modal-label.comment {
  margin-top: 10px;
}

.form-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-field {
  display: block;
  position: relative;
}

.form-icon {
  position: absolute;
  left: 12px;
  bottom: 12px;
}

.modal-wrapper {
  display: flex;
  flex-direction: column;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 10;
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  transition: opacity var(--anim) visibility;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 528px;
  min-height: 581px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-close-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 18px;
  right: 18px;
  margin-top: 6px;
  margin-right: 6px;
  transform: translate(50%, -50%);
  border-radius: 50%;
  background-color: var(--white-color);
  width: 30px;
  height: 30px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

/* Modal button */

.submit-btn {
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  padding: 10px 55px;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  margin-top: 30px;
}

.submit-btn:hover,
.submit-btn:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: var(--anim);
}

.sent-btn {
  font-weight: bold;
}

.modal-close-btn:hover,
.btn-close:hover {
  fill: var(--accent-color);
}

.modal-comment.modal-group {
  height: 120px;
}

/* Checkbox */

.checkbox-txt {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  user-select: none;
}

.checkbox-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  color: var(--nav-txt-cl);
  outline: 2px solid #212121;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  transition: outline-color 250ms, background-color 250ms;
}

.checkbox-input:checked + .checkbox-icon {
  background-color: var(--accent-color);
  outline-color: var(--accent-color);
}

.check-icon {
  fill: #ffffff;
}

.doc-label {
  color: var(--accent-color);
}

.lable-name {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}
