.item-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--nav-txt-cl);
}

.item-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--often-color);
}

.main-prt-sect {
  padding-top: 94px;
  padding-bottom: 94px;
}

.main-list-prt {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  flex-wrap: wrap;
  margin: -15px;
}

.main-prt-item {
  box-sizing: border-box;
  background-color: var(--white-color);
  margin: 15px;
}

.main-prt-item:hover .prt-overlay {
  transform: translateY(0);
  transition: var(--anim);
}

.main-prt-item:hover,
.main-prt-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: var(--anim);
}

.item-group {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.item-p {
  margin-top: 4px;
}
